* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #00feba, #261f50);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.music-player {
  background: linear-gradient(135deg, #00feba, #5b548a);
  width: 450px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #261f50;
}
.music-player nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
nav .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  background: #fff;
  color: #5b548a;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
  margin-top: -10px;
  bottom: 50px;
}
.song-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 10px 50px rgba(255, 26, 26, 0.22);
  margin-bottom: 10px;
}
h3, p{
    font-family: cursive;
    color: #333;
    margin-top: 5px;
}
#song{
    margin-top: 20px;
    width: 90%;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 50px;
    height: 50px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #5b548a;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
    margin-bottom: -10px;
}